<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>
<div class="contain">
    <div class="feed">
        <% for(let idx = 0; idx < content.length; idx++) { %> 
            <% const cont = content[idx] %>
            <script>
                $(".feed").on("click", "#unlovethispost<%=idx%>", function(e) {
                    $("#lovethispost<%=idx%>").toggle();
                    $("#unlovethispost<%=idx%>").toggle();
                    $(".lovethispost<%=idx%>").toggle();
                    $(".unlovethispost<%=idx%>").toggle();
                    e.preventDefault(); 
                    $.ajax({
                        url: '/content/<%=cont.id%>',
                        method: 'PUT',
                        contentType: 'application/json',
                        data: {notes: "<%currentUser[0].id%>"},
                        success: function(html) {
                            return false;
                        }, 
                    });
                });
                $(".feed").on("click", "#lovethispost<%=idx%>", function(e) {
                    $("#lovethispost<%=idx%>").toggle();
                    $("#unlovethispost<%=idx%>").toggle();
                    $(".lovethispost<%=idx%>").toggle();
                    $(".unlovethispost<%=idx%>").toggle();
                    e.preventDefault(); 
                    $.ajax({
                        url: '/content/like/<%=cont.id%>',
                        method: 'PUT',
                        contentType: 'application/json',
                        data: {notes: "<%currentUser[0].id%>"},
                        success: function(html) {
                            return false;
                        }
                    });
                });
            </script>
        <% } %>
        <div class="content-creation">
            <a class="userphoto" href="/blog/<%=currentBlog.title%>">
                <img class="feedphoto" src="<%=currentBlog.blogImg%>">
            </a>
            <div class="containcreate">
                <% if (currentBlog.userName !== currentUser[0].userName) { %>
                    <div class="waytoomanyoptions suggestedblogcontent">
                        <h1 class="sidebartitle suggestedblogsdivider"><%= currentBlog.title %></h1>
                        <h4 class="suggestedblogdesc"><%= currentBlog.description %></h4>
                        <h4 class="suggestedblogdesc">
                        <% tags = currentBlog.keywords %>
                        <% for(let i = 0; i < tags.length; i++) { %>
                            #<%= currentBlog.keywords %>
                            <% } %>
                        </h4>
                    </div>
                    <% } else { %>
                <div class="waytoomanyoptions">
                    <a class="createpost" href="/content/new/text-post">
                    <img id="newtextpost" src="https://drive.google.com/uc?export=download&id=1OdbfDfB_D5juf87OZx8600agWPyRgmk-"></a>
                    <a class="createpost" href="/content/new/image-post">
                    <img id="newimagepost" src="https://drive.google.com/uc?export=download&id=1mGgVv6txR4-7QX6gSDt3k59xNEti6fCG"></a>
                    <a class="createpost" href="/content/new/quote-post">
                    <img id="newquotepost" src="https://drive.google.com/uc?export=download&id=1oW3rW1RMtqi_jH-t-jJtRrsR9aeZ7i7E"></a>
                    <a class="createpost" href="/content/new/link-post">
                    <img id="newlinkpost" src="https://drive.google.com/uc?export=download&id=15Yl-_gE_6eJW4PdS3E55aGbMm3IHFAEw"></a>
                    <a class="createpost" href="/content/new/chat-post">
                    <img id="newchatpost" src="https://drive.google.com/uc?export=download&id=1fjaUHgFSCw34hVUvXZeJS3u5xQLa-kKA"></a>
                    <a class="createpost" href="/content/new/audio-post">
                    <img id="newaudiopost" src="https://drive.google.com/uc?export=download&id=1eHMjtByoAW84sn_k2siNprK6c2XNfEPt"></a>
                    <a class="createpost" href="/content/new/video-post">
                    <img id="newvideopost" src="https://drive.google.com/uc?export=download&id=1hrpkRKYhD9yt4LFyAXVHmf0Mq_TG03vp"></a>
                </div>
                <div class="labels">
                    <h4 class="createpost" id="labelspacer">Text</h4> 
                    <h4 class="createpost" id="labelspacer">Image</h4> 
                    <h4 class="createpost" id="labelspacer">Quote</h4> 
                    <h4 class="createpost" id="labelspacer">Link</h4>
                    <h4 class="createpost" id="labelspacer">Chat</h4>
                    <h4 class="createpost" id="labelspacer">Audio</h4> 
                    <h4 class="createpost" id="labelspacer">Video</h4> 
                </div>
                <% } %>
            </div>
        </div>
        <% for(let idx = (content.length - 1); idx >= 0; idx--) { %> 
            <% const cont = content[idx] %>
            <% if (currentBlog.userName === cont.userName) { %>
        <div class="blogposts">
            <a class="userphoto" href="/blog/<%=currentBlog.title%>">
                <img class="feedphoto" src="<%=currentBlog.blogImg%>">
            </a>
            <div class="blogpostcontain">
                <div class="origin">
                    <h6 class="originallypostedby"><%- cont.userName %></h6>
                    <img class="originbar" id="reblogorigin" src="https://drive.google.com/uc?export=download&id=15dk-xnHoHytCby2awDlqapp91W-UlRin">
                </div>
                <hr class="postdivider">
            <% if (cont.title && cont.title !== "") { %>
                <h2 class="textpostitem"><%= cont.title %></h2>
            <% } %> 
            <% if (cont.text && cont.text !== "") { %>
                <h4 class="textpostitem"><%= cont.text%> </h4>
            <% } %> 
            <% if (cont.photo && cont.photo !== "") { %>
                <img class="postimage" src="<%= cont.photo %>">
            <% } %> 
            <% if (cont.quote && cont.quote !== "") { %>
                <h3 class="postquote"><%= cont.quote %></h3>
                <h3 class="postauthor"><%= cont.author %></h3>
            <% } %> 
            <% if (cont.link && cont.link !== "") { %>
                <iframe class ="postlink" src="<%= cont.link %>"></iframe>
            <% } %> 
            <% if (cont.chat && cont.chat !== "") { %>
                    <div class="bubble">
                        <h3 class="postchat"><%= cont.chat %></h3>
                    </div>
            <% } %> 
            <% if (cont.audio && cont.audio !== "") { %>
                <audio class="postaudio" controls>
                    <source src="<%= cont.audio %>" type="audio/ogg">
                    <source src="<%= cont.audio %>" type="audio/mpeg">
                  Your browser does not support this audio format.
                </audio> 
            <% } %> 
            <% if (cont.video && cont.video !== "") { %>
                <video controls class="postvideo" src="<%= cont.video %>" type="video/webm"></video>
            <% } %> 
                <div class="actionbar">
                    <div class="notes">
                    <% const likes = cont.notes %>
                    <% if (likes.length === 0) { %>
                        <h5 class="textpostitem unlovethispost<%=idx%>" id="notes"><%=likes.length%> notes</h5>
                        <h5 class="textpostitem lovethispost<%=idx%> hidden" id="notes"><%=likes.length + 1%> notes</h5>
                    <% } %>
                    <% for (let i = 0; i < likes.length; i++) { %>
                        <% if (currentUser[0].id === likes[i]) { %>
                            <h5 class="textpostitem unlovethispost<%=idx%> hidden" id="notes"><%=likes.length - 1%> notes</h5>
                            <h5 class="textpostitem lovethispost<%=idx%>" id="notes"><%=likes.length%> notes</h5>
                        <% break %>
                        <% } %>
                        <% if (currentUser[0].id !== likes[i]) { %>
                            <h5 class="textpostitem unlovethispost<%=idx%>" id="notes"><%=likes.length%> notes</h5>
                            <h5 class="textpostitem lovethispost<%=idx%> hidden" id="notes"><%=likes.length + 1%> notes</h5>
                        <% break %>
                        <% } %>
                    <% } %>
                    </div>
                    <div class="actionbaritems">
                    <% if (likes.length === 0) { %>
                        <a class="hidden" id="unlovethispost<%=idx%>">
                            <img class="actionbaritem" id="loved" src="https://drive.google.com/uc?export=download&id=13AZ6fG7ngHg6nE0glSmnQxGXjT8RAQh4">
                        </a>
                        <a class="invert" id="lovethispost<%=idx%>">
                            <img class="actionbaritem" id="love" src="https://drive.google.com/uc?export=download&id=1iMNvGyI1wmG23mA16sveMLzD41X4iN4S">
                        </a>
                    <% } %>
                    <% for (let i = 0; i < likes.length; i++) { %>
                        <% if (currentUser[0].id !== likes[i]) { %>
                            <a class="hidden" id="unlovethispost<%=idx%>">
                                <img class="actionbaritem" id="loved" src="https://drive.google.com/uc?export=download&id=13AZ6fG7ngHg6nE0glSmnQxGXjT8RAQh4">
                            </a>
                            <a class="invert" id="lovethispost<%=idx%>">
                                <img class="actionbaritem" id="love" src="https://drive.google.com/uc?export=download&id=1iMNvGyI1wmG23mA16sveMLzD41X4iN4S">
                            </a>
                            <% break %>
                            <% } %>
                            <% if (currentUser[0].id === likes[i]) { %>
                            <a id="unlovethispost<%=idx%>">
                                <img class="actionbaritem" id="loved" src="https://drive.google.com/uc?export=download&id=13AZ6fG7ngHg6nE0glSmnQxGXjT8RAQh4">
                            </a>
                            <a class="invert hidden" id="lovethispost<%=idx%>">
                                <img class="actionbaritem" id="love" src="https://drive.google.com/uc?export=download&id=1iMNvGyI1wmG23mA16sveMLzD41X4iN4S">
                            </a>
                            <% break %>
                            <% } %>
                        <% } %>
                        <a>
                            <img class="actionbaritem invert" id="reblog" src="https://drive.google.com/uc?export=download&id=15dk-xnHoHytCby2awDlqapp91W-UlRin">
                        </a>
                        <% if (cont.userName === currentUser[0].userName) { %>
                        <a class="invert" href="/<%=cont.id %>/edit">
                            <img class="actionbaritem" id="edit" src="https://drive.google.com/uc?export=download&id=1-Uf2XtS-VFXQ0Z7vMMNSvxmj0CKasK1K">
                        </a>
                        <form class="trash" action="/content/<%= cont.id %>?_method=DELETE" method="POST">
                            <input class="postdelete" type="image" src="https://drive.google.com/uc?export=download&id=1_FIACPaWgrCgpISp3NLS1jOhcBleS3Xf">
                        </form>
                        <% } %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    <% } %>
    </div>
    <div class="sidebar">
        <h2 class="sidebartitle suggestedblogsdivider"><%= currentBlog.title %></h2>
        <div class="sidebartitle suggestedblog">
            <a href="/blog/<%= currentBlog.title %>">
                <img class="suggestedblogphoto" src="<%= currentBlog.blogImg %>">
            </a>
            <div class="suggestedblogcontent">
                <h4 class="suggestedblogdesc"><%= currentBlog.description %></h4>
                <h4 class="suggestedblogdesc">
                <% tags = currentBlog.keywords %>
                <% for(let i = 0; i < tags.length; i++) { %>
                    #<%= currentBlog.keywords %>
                    <% } %>
                </h4>
            </div>
        </div>
        <h3 class="sidebartitle">Check out these blogs</h3>
        <hr class="suggestedblogsdivider">
        <% for(let idx = 0; idx < allBlogs.length; idx++) { %>
            <% const blog = allBlogs[idx] %>
            <% if (currentBlog.userName === blog.userName) { %>
            <% } else { %>
        <div class="suggestedblog">
            <a href="/blog/<%= blog.title %>">
                <img class="suggestedblogphoto" src="<%= blog.blogImg %>">
            </a>
            <div class="suggestedblogcontent">
                <h3 class="suggestedblogname"><%= blog.title %></h3>
                <h4 class="suggestedblogdesc"><%= blog.description %></h4>
                <h4 class="suggestedblogdesc">
                <% tags = blog.keywords %>
                <% for(let i = 0; i < tags.length; i++) { %>
                    #<%= blog.keywords %>
                    <% } %>
                </h4>
            </div>
        </div>
        <% } %>
    <% } %>
    </div>
</div>
<%- include('./partials/footer.ejs') %>