<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<% for(let idx = 0; idx < content.length; idx++){ %> 
    <% const cont = content[idx] %>
    

    <p><%= cont.title %></p>
    <p><%= cont.text %></p>

<% } %>

<%- include('./partials/footer.ejs') %>