<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>
<div class="contain">
    <div class="feed">
        <div class="content-creation">
            <a class="userphoto" href="/user/<%= currentUser[0].userName %>">
                <img class="feedphoto" src="<%= currentUser[0].photo %>">
            </a>
            <div class="containcreate">
                <div class="waytoomanyoptions">
                    <a class="createpost" href="/content/new-text-post">
                    <img id="newtextpost" src="https://drive.google.com/uc?export=download&id=1OdbfDfB_D5juf87OZx8600agWPyRgmk-"></a>
                    <a class="createpost" href="/content/new-image-post">
                    <img id="newimagepost" src="https://drive.google.com/uc?export=download&id=1mGgVv6txR4-7QX6gSDt3k59xNEti6fCG"></a>
                    <a class="createpost" href="/content/new-quote-post">
                    <img id="newquotepost" src="https://drive.google.com/uc?export=download&id=1oW3rW1RMtqi_jH-t-jJtRrsR9aeZ7i7E"></a>
                    <a class="createpost" href="/content/new-link-post">
                    <img id="newlinkpost" src="https://drive.google.com/uc?export=download&id=15Yl-_gE_6eJW4PdS3E55aGbMm3IHFAEw"></a>
                    <a class="createpost" href="/content/new-chat-post">
                    <img id="newchatpost" src="https://drive.google.com/uc?export=download&id=1fjaUHgFSCw34hVUvXZeJS3u5xQLa-kKA"></a>
                    <a class="createpost" href="/content/new-audio-post">
                    <img id="newaudiopost" src="https://drive.google.com/uc?export=download&id=1eHMjtByoAW84sn_k2siNprK6c2XNfEPt"></a>
                    <a class="createpost" href="/content/new-video-post">
                    <img id="newvideopost" src="https://drive.google.com/uc?export=download&id=1hrpkRKYhD9yt4LFyAXVHmf0Mq_TG03vp"></a>
                </div>
                <div class="labels">
                    <h4 class="createpost" id="labelspacer">Text</h4> 
                    <h4 class="createpost" id="labelspacer">Image</h4> 
                    <h4 class="createpost" id="labelspacer">Quote</h4> 
                    <h4 class="createpost" id="labelspacer">Link</h4>
                    <h4 class="createpost" id="labelspacer">Chat</h4>
                    <h4 class="createpost" id="labelspacer">Audio</h4> 
                    <h4 class="createpost" id="labelspacer">Video</h4> 
                </div>
            </div>
        </div>
        <% for(let idx = 0; idx < content.length; idx++) { %> 
            <% const cont = content[idx] %>
            <% for(let idx = 0; idx < allUsers.length; idx++) { %>
                <% const usr = allUsers[idx] %>
                <% if (usr.userName === cont.userName) { %>
        <div class="blogposts">
            <a class="userphoto" href="/user/<%= usr.userName%>">
                <img class="feedphoto" src="<%= usr.photo %>">
            </a>
            <div class="blogpostcontain">
                <div class="origin">
                    <h6 class="originallypostedby">- originally posted by <%- cont.userName %></h6>                        <img class="originbar" id="reblogorigin" src="https://drive.google.com/uc?export=download&id=15dk-xnHoHytCby2awDlqapp91W-UlRin">
                </div>
                    <% break %>
                <% } %>
            <% } %>
            <% if (cont.title && cont.title !== "") { %>
                <h2 class="textpostitem"><%= cont.title %></h2>
            <% } %> 
            <% if (cont.text && cont.text !== "") { %>
                <h4 class="textpostitem"><%= cont.text%> </h4>
            <% } %> 
            <% if (cont.photo && cont.photo !== "") { %>
                <img class="postimage" src="<%= cont.photo %>">
            <% } %> 
            <% if (cont.quote && cont.quote !== "") { %>
                <h3 class="postquote"><%= cont.quote %></h3>
                <h3 class="postauthor"><%= cont.author %></h3>
            <% } %> 
            <% if (cont.link && cont.link !== "") { %>
                <iframe class ="postlink" src="<%= cont.link %>"></iframe>
            <% } %> 
            <% if (cont.chat && cont.chat !== "") { %>
                    <div class="bubble">
                        <h3 class="postchat"><%= cont.chat %></h3>
                    </div>
            <% } %> 
            <% if (cont.audio && cont.audio !== "") { %>
                <audio class="postaudio" controls>
                    <source src="<%= cont.audio %>" type="audio/ogg">
                    <source src="<%= cont.audio %>" type="audio/mpeg">
                  Your browser does not support this audio format.
                </audio> 
            <% } %> 
            <% if (cont.video && cont.video !== "") { %>
                <video controls class="postvideo" src="<%= cont.video %>" type="video/webm"></video>
            <% } %> 
                <div class="actionbar">
                    <div class="notes">
                        <h5 class="textpostitem" id="notes"><%= content.length %> notes</h5>
                    </div>
                    <div class="actionbaritems">
                        <a>
                            <img class="actionbaritem" id="love" src="https://drive.google.com/uc?export=download&id=1iMNvGyI1wmG23mA16sveMLzD41X4iN4S">
                        </a>
                        <a>
                            <img class="actionbaritem" src="https://drive.google.com/uc?export=download&id=15dk-xnHoHytCby2awDlqapp91W-UlRin">
                        </a>
                        <% if (cont.userName === currentUser[0].userName) { %>
                        <a href="/content/<%=cont.id %>/edit">
                            <img class="actionbaritem" id="edit" src="https://drive.google.com/uc?export=download&id=1-Uf2XtS-VFXQ0Z7vMMNSvxmj0CKasK1K">
                        </a>
                        <form class="trash" action="/content/<%= cont.id %>?_method=DELETE" method="POST">
                            <input class="postdelete" type="image" src="https://drive.google.com/uc?export=download&id=1_FIACPaWgrCgpISp3NLS1jOhcBleS3Xf">
                        </form>
                        <% } %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
   <% } %>
    </div>
    <div class="sidebar">
        <h2 class="sidebartitle">Welcome, <%= currentUser[0].userName %>!</h2>
        <hr>
        <h3 class="sidebartitle">Check out these blogs</h3>
        <h5>...I'll get to this at some point.</h5>
    </div>
</div>
<%- include('./partials/footer.ejs') %>