<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>

<div class="contain">
    <div class="feed">
        <div class="content-creation">
            <a class="userphoto" href="./myblog">
                <img class="feedphoto" src="https://static8.depositphotos.com/1377527/943/i/600/depositphotos_9431737-stock-photo-portrait-of-gray-striped-cat.jpg">
            </a>
            <div class="containcreate">
                <div class="waytoomanyoptions">
                    <a class="createpost" href="/content/new-text-post">
                    <img id="newtextpost" src="https://drive.google.com/uc?export=download&id=1OdbfDfB_D5juf87OZx8600agWPyRgmk-"></a>
                    <a class="createpost" href="/content/new-image-post">
                    <img id="newimagepost" src="https://drive.google.com/uc?export=download&id=1mGgVv6txR4-7QX6gSDt3k59xNEti6fCG"></a>
                    <a class="createpost" href="/content/new-quote-post">
                    <img id="newquotepost" src="https://drive.google.com/uc?export=download&id=1oW3rW1RMtqi_jH-t-jJtRrsR9aeZ7i7E"></a>
                    <a class="createpost" href="/content/new-link-post">
                    <img id="newlinkpost" src="https://drive.google.com/uc?export=download&id=15Yl-_gE_6eJW4PdS3E55aGbMm3IHFAEw"></a>
                    <a class="createpost" href="/content/new-chat-post">
                    <img id="newchatpost" src="https://drive.google.com/uc?export=download&id=1fjaUHgFSCw34hVUvXZeJS3u5xQLa-kKA"></a>
                    <a class="createpost" href="/content/new-audio-post">
                    <img id="newaudiopost" src="https://drive.google.com/uc?export=download&id=1eHMjtByoAW84sn_k2siNprK6c2XNfEPt"></a>
                    <a class="createpost" href="/content/new-video-post">
                    <img id="newvideopost" src="https://drive.google.com/uc?export=download&id=1hrpkRKYhD9yt4LFyAXVHmf0Mq_TG03vp"></a>
                </div>
                <div class="labels">
                    <h4 class="createpost" id="labelspacer">Text</h4> 
                    <h4 class="createpost" id="labelspacer">Image</h4> 
                    <h4 class="createpost" id="labelspacer">Quote</h4> 
                    <h4 class="createpost" id="labelspacer">Link</h4>
                    <h4 class="createpost" id="labelspacer">Chat</h4>
                    <h4 class="createpost" id="labelspacer">Audio</h4> 
                    <h4 class="createpost" id="labelspacer">Video</h4> 
                </div>
            </div>
        </div>

            <% for(let idx = 0; idx < content.length; idx++) { %> 
                <% const cont = content[idx] %>

        <div class="blogposts">
            <a class="userphoto" href="./myblog">
                <img class="feedphoto" src="https://picsum.photos/200">
            </a>
            <div class="blogpostcontain">
                <% if (content.title !== "") { %>
                <h2 class="textpostitem">
                    <%= cont.title %>
                </h2>
                <% } %>
                <h4 class="textpostitem">
                    <%= cont.text %>
                </h4>
                <img class="postimage" src="<%= cont.photo %>">
                </h4>
                <div class="actionbar">
                    <h5 class="textpostitem" id="notes">
                        <%= cont.id %> notes 
                    </h5>
                </div>
            </div>
        </div>

   <% } %>
   
    </div>
    <div class="sidebar">
        <h2>Check out these blogs</h2>
        <hr>
    </div>
</div>

<%- include('./partials/footer.ejs') %>