<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>
<div class="blogpostcontain" id="newpostpage">
    <section>
        <h1 class="posttypetitle">EDIT POST</h1>
    </section>
    <form class="postform" action="/content/<%= content.id %>?_method=PUT" method="POST">
        <% if (content.title && content.title !== "") { %>
            <div>
                <H3 class="posttext" id="smallmargin">Title:</H3>
            </div>
            <input class="titleinput" type="text" value="<%= content.title %>" placeholder="Title" name="title" />
        <% } %> 
        <% if (content.text && content.text !== "") { %>
            <div>
                <H3 class="posttext" id="smallmargin">Body:</H3>
            </div>
            <input class="textinput" type="text" value="<%= content.text %>" placeholder="Share your thoughts with the world..." name="text" />
        <% } %> 
        <% if (content.photo && content.photo !== "") { %>
            <div>
                <H3 class="posttext" id="smallmargin">Image Link:</H3>
            </div>
            <input class="titleinput" type="text" value="<%= content.photo %>" placeholder="Insert your link here..." name="photo" />
        <% } %> 
        <% if (content.quote && content.quote !== "") { %>
            <div>
                <H3 class="posttext" id="smallmargin">Quote:</H3>
            </div>
            <input class="textinput" type="text" value="<%= content.quote %>" placeholder="'To be or not to be...'" name="quote" />
            <div>
                <H3 class="posttext" id="smallmargin">Author:</H3>
            </div>
            <input class="titleinput" type="text" value="<%= content.author %>" placeholder="Give credit where it's due!" name="author" />
        <% } %> 
        <% if (content.link && content.link !== "") { %>
            <div>
                <H3 class="posttext" id="smallmargin">Link:</H3>
            </div>
            <input class="titleinput" value="<%= content.link %>" type="text" placeholder="Where are we going?" name="link" />
        <% } %> 
        <% if (content.chat && content.chat !== "") { %>
            <div>
                <H3 class="posttext" id="smallmargin">Chat:</H3>
            </div>
            <input class="textinput" type="text" value="<%= content.cat %>" placeholder="What were we talking about again...?" name="chat" />
        <% } %> 
        <% if (content.audio && content.audio !== "") { %>
            <div>
                <H3 class="posttext" id="smallmargin">Link:</H3>
            </div>
            <input class="titleinput" type="text" value="<%= content.audio%>" placeholder="What's your favorite song?" name="audio" />
        <% } %> 
        <% if (content.video && content.video !== "") { %>
            <div>
                <H3 class="posttext" id="smallmargin">Link:</H3>
            </div>
            <input class="titleinput" type="text" value="<%= content.video%>" placeholder="Who's going viral today?" name="video" />
        <% } %> 
        <div>
            <button class="button" id="submit">Submit</button>
            <a href="/dashboard">
                <button class="button" id="cancel">Actually, this is fine!</button>
            </a>
        </div>
    </form>
</div>
<%- include('./partials/footer.ejs') %>