<% for (let i = 0; i < Content.length; i++) { %> 
    <% } %>

            <% const content = content.id %>
            <% const userphoto = user.photo %>
            <% if content.typeOf = "text" { %>
            
                        <div class="content-creation">
                            <a class="userphoto" href="./blog/" + userphoto>
                                <a class="feedphoto" href="/content/<%= user.photo %>">
                            </a>
                            <div class="properties">
                                <div class="content">
                                    <h3> <a href="/content/<%= content.id %>"> <%= content.title %> </a> </h3>
                                    <h4> <%= content.title %> </h4>                        
                                    <p> <%= content.text %> </p>
                                    <p> <%= content.link %> </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <% } %>