<%- include('../partials/head.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="blogpostcontain" id="newpostpage">
    <section>
        <h1 class="posttypetitle">NEW IMAGE POST</h1>
    </section>
    <form class="postform" action="/content" method="POST">
        <div>
            <H3 class="posttext" id="smallmargin">Title:</H3>
        </div>
        <input class="titleinput" type="text" placeholder="Title" name="title" />
        <div>
            <H3 class="posttext" id="smallmargin">Body:</H3>
        </div>
        <input class="textinput" type="text" placeholder="Share your thoughts with the world..." name="text"/>
        <div>
            <H3 class="posttext" id="smallmargin">Image Link:</H3>
        </div>
        <input class="titleinput" type="text" placeholder="Insert your link here..." name="photo"/>
        <div class="donotdisplay">
            <input name="userName" class="donotdisplay" type="text" value="<%= currentUser[0].userName %>"/>
            <input name="user" class="donotdisplay" type="text" value="<%= currentUser[0]._id %>"/>
        </div>
        <div>
            <button class="button" id="submit">Submit</button>
        </div>
    </form>
    <a class="agentlenudgeupandright" href="/fumblr/dashboard">
        <button class="button" id="cancel">Cancel</button>
    </a>
</div>
<%- include('../partials/footer.ejs') %>