<%- include('../partials/head.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="blogpostcontain" id="newpostpage">
    <section>
        <% if (text === false) { %>
            <h1 class="posttypetitle">NEW TEXT POST</h1>
        <% } %>
        <% if (image === true) { %>
            <h1 class="posttypetitle">NEW IMAGE POST</h1>
        <% } %>
        <% if (quote === true) { %>
            <h1 class="posttypetitle">NEW QUOTE POST</h1>
        <% } %>
        <% if (link === true) { %>
            <h1 class="posttypetitle">NEW LINK POST</h1>
        <% } %>
        <% if (chat === true) { %>
            <h1 class="posttypetitle">NEW CHAT POST</h1>
        <% } %>
        <% if (audio === true) { %>
            <h1 class="posttypetitle">NEW AUDIO POST</h1>
        <% } %>
        <% if (video === true) { %>
            <h1 class="posttypetitle">NEW VIDEO POST</h1>
        <% } %>
    </section>
    <form class="postform" action="/content" method="POST">
        <div>
            <H3 class="posttext" id="smallmargin">Title:</H3>
        </div>
        <input class="titleinput" type="text" placeholder="Title" name="title"/>
        <div>
            <H3 class="posttext" id="smallmargin">Body:</H3>
        </div>
        <input class="textinput" type="text" placeholder="Share your thoughts with the world..." name="text"/>
        <div class="donotdisplay">
            <input name="userName" class="donotdisplay" type="text" value="<%= currentUser[0].userName %>"/>
            <input name="user" class="donotdisplay" type="text" value="<%= currentUser[0]._id %>"/>
        </div>
        <div>
            <button class="button" id="submit">Submit</button>
        </div>
    </form>
    <a class="agentlenudgeupandright" href="/fumblr/dashboard">
        <button class="button" id="cancel">Cancel</button>
    </a>
</div>
<%- include('../partials/footer.ejs') %>